.project {
  width: 420px;
  max-width: 420px;
  box-shadow: 0 0 12px 8px rgba(128, 128, 128, 1);
  transition-property: width max-width;
  transition-duration: 0.5s;
  border-radius: 5px;
  position: relative;
  height: max-content;
}

.project:hover {
  box-shadow: 0 0 12px 8px rgba(176, 147, 73, 0.5);
  width: calc(100vw - 60px);
  max-width: 768px;
}

.project-container > img {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.project:hover .project-description {
  opacity: 1;
}

.project-link {
  color: rgb(149, 198, 214);
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 1px solid rgb(149, 198, 214);
  max-width: calc(100% - 20px);
  padding-bottom: 3px;
}

.project-link:hover {
  color: rgb(87, 178, 208);
}

.project-link > h3 {
  font-size: 1.3rem;
}

.project-description > p {
  color: var(--text-color-primary);
  font-size: 0.7rem;
  pointer-events: none;
  padding: 10px;
  text-align: justify;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.project:hover .project-description > p {
  font-size: 1.1rem;
}

.external-link {
  width: 20px;
}

.project-github-link {
  display: grid;
  grid-template-columns: max-content max-content;
  width: max-content;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  text-decoration: none;
  background-color: rgb(94, 94, 45);
  padding: 10px 18px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid white;
}

.project-github-link:hover {
  background-color: rgb(176, 147, 73);
}

.project-github-link > div {
  color: var(--text-color-primary);
}

.project-github-link > img {
  max-width: 40px;
}

@media screen and (min-width: 1080px) {
  .project {
    width: 500px;
    max-width: 500px;
    align-self: center;
  }

  .project:hover {
    width: 500px;
    max-width: 500px;
  }

  .project:hover .project-description > p {
    font-size: 0.9rem;
  }

  .project-description > p {
    font-size: 0.9rem;
  }

  .project-github-link {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .project-github-link > img {
    max-width: 35px;
  }
}
