#technologies {
  height: max-content;
  background-image: url("/src/assets/alt_bg4.png");
  background-attachment: fixed;
  background-size: 100%;
  position: relative;
}

/* #technologies-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/tesselated2.webp");
} */

.technologies-header {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(0, 0, 0);
  background-color: rgb(226, 226, 226);
  padding: 6px 12px;
  border: 1px solid rgb(33, 53, 53);
  border-radius: 15px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 1);
  pointer-events: none;
  z-index: 2;
}

.technologies-backdrop {
  -webkit-backdrop-filter: brightness(0.65);
  backdrop-filter: brightness(0.65);
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
  width: 100%;
}

@media screen and (max-width: 480px) {
  .technologies-header {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .technologies-backdrop {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1566px) {
  .technologies-backdrop {
    row-gap: 80px;
  }
}
