@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/resources/fonts/open-sans-v20-latin-regular.eot');
  src: local(''),
    url('/resources/fonts/open-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/open-sans-v20-latin-regular.woff2') format('woff2'),
    url('/resources/fonts/open-sans-v20-latin-regular.woff') format('woff'),
    url('/resources/fonts/open-sans-v20-latin-regular.ttf') format('truetype'),
    url('/resources/fonts/open-sans-v20-latin-regular.svg#OpenSans') format('svg');
}

:root {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-header {
  width: max-content;
  transform: translateX(-50%) translateX(50vw);
  display: grid;
  grid-template-columns: max-content;
  height: max-content;
  margin-top: 0.5rem;
  align-items: end;
  align-content: end;
  font-size: 1.25rem;
  z-index: 1;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header::before {
  content: "";
  width: calc(100vw - 120px);
  height: 0px;
  border: 1px solid rgb(108, 108, 108);
  border-left: none;
  border-right: none;
  border-top: none;
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(calc(-50vw + 60px));
  z-index: -1;
}

.page-title {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.author {
  transform: translateX(-50%) translateX(50vw);
  width: 100vw;
  text-align: center;
  margin-bottom: 10px;
}

.main {
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content;
  transform: translateX(-50%) translateX(50vw);
  position: relative;
}

#controls-area {
  width: max-content;
  height: min-content;
  min-height: 6ch;
  height: 600px;
  margin-left: 5px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: max-content;
  gap: 2px;
  justify-content: center;
  align-content: start;
  background-color: rgb(92, 92, 92);
  color: cyan;
  box-shadow: 0px 0px 1px 1px lightslategrey;
  border: 1px solid grey;
  border-radius: 2px;
}

h4 {
  margin: 0px 0px 10px 0px;
  padding: 5px 0px 5px 20px;
  font-size: 1.25rem;
}

.slider-div {
  display: grid;
  grid-template-columns: 115px 120px;
  align-items: center;
  align-content: center;
  margin: 2px;
  padding: 2px 0px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: 1px solid grey;
}

.slider-div.expanded {
  grid-template-columns: 90px 120px 3ch;
}

#pan-y {
  transform: rotate(90deg);
}

.slider-label, .slider-value {
  display: inline;
  margin: 5px 5px 5px 8px;
}

.slider-label {
  text-align: right;
}

#graphics-area {
  width: min-content;
  margin: auto;
  z-index: 0;
  position: relative;
}


canvas {
  box-shadow: 0px 0px 2px 1px lightslategrey;
  position: relative;
  z-index: 0;
}

#graphics-area::before {
  content: "";
  height: 0px;
  width: 20px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: 1;
  transform: translateX(-49%);
}

#graphics-area::after {
  content: "";
  height: 20px;
  width: 0px;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: 1;
  transform: translateY(-50%);
}

.vertical {
  min-height: 160px;
}

.vertical>.slider-label {
  white-space: nowrap;
}

.zoom-label {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.zoom-label.left {
  margin-left: 0.75rem;
  margin-right: 0rem;
}

.zoom-label.right {
  padding: 0px;
  margin: 0px;
  margin-left: 2px;
}

.buttons-wrapper {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: 0.5rem;
  grid-template-columns: max-content max-content;
  margin-bottom: 1rem;
}

.buttons-wrapper>.btn {
  width: 7rem !important;
  /* border: 1px solid black; */
  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px white;
  height: min-content;
}

#demo-button, #demo-button-2, #about-button {
  width: max-content;
}

#reset-button {
  background-color: rgb(255, 126, 79);
  transition: background-color 0.25s;
}

#reset-button:hover {
  background-color: rgb(235, 106, 59);;
}

#demo-button, #demo-button-2 {
  display: grid;
  grid-template-columns: max-content max-content;
}

.play-icon {
  width: 20px;
  height: 20px;
  margin-right: 1px;
  transform: rotate(90deg) translateX(3px);
}

#x-axis-label-div {
  position: absolute;
  height: 8px;
  width: 600px;
  top: 610px;
  text-align: center;
  border: 1.5px solid black;
  border-top: none;
}

#y-axis-label-div {
  position: absolute;
  width: 600px;
  height: 6px;
  transform: rotate(270deg);
  top: calc(50% - 6px);
  left: -310px;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
}

#x-axis-label-div>.label {
  transform: translateY(2ch);
}

#y-axis-label-div>.label {
  transform: translateY(-3.5ch);
}

#wiki-iframe {
  width: 100%;
  height: 2000px;
}

#coords {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2px 8px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}