.main-nav {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  height: max-content;
  margin: 0px;
  gap: 10px;
  background-color: #333;
  color: lightblue;
}

#nav-buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  height: 100%;
}

#brand-name {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  font-weight: bold;
  pointer-events: none;
}

.main-nav > .socials {
  margin: 0px;
  background-color: transparent;
  border: none;
}

.main-nav > .socials > a {
  width: 27px;
}

/* small mobile */

@media (max-width: 600px) {
  .main-nav {
    grid-template-columns: max-content 1fr 1fr;
  }

  #brand-name {
    font-size: 1.3rem;
  }

  #nav-buttons {
    display: none;
    height: min-content;
  }

  #nav-buttons.active {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: #585858;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

@media screen and (max-width: 500px) {
  #brand-name {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  .main-nav {
    gap: 5px;
  }

  #brand-name {
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  .main-nav > .socials > a {
    width: 25px;
  }
}

/* large screens */

@media screen and (min-width: 768px) {
  .main-nav {
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: max-content minmax(100px, 400px) max-content;
  }
}

@media screen and (min-width: 1080px) {
  #brand-name {
    font-size: 2rem;
  }

  .main-nav > .socials > a {
    width: 40px;
  }
}
