.main-nav {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px minmax(max-content, 980px);
  align-items: center;
  padding: 1rem 1rem;
  height: 80px;
  background-color: #333;
  color: #fff;
}
