.technology {
  display: grid;
  background: linear-gradient(
    180deg,
    rgb(235, 235, 235) 0%,
    rgb(185, 185, 185) 100%
  );
  padding: 10px;
  padding-bottom: 15px;
  border: 2px solid red;
  border-radius: 8px;
  width: 100px;
  justify-content: center;
  gap: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.1s;
  /* background: #4fc2e2; */
}

.technology:hover {
  box-shadow: 0px 10px 10px 0px rgba(255, 255, 225, 0.8);
  transform: translateY(-3px) scale(1.03);
}

.technology > img {
  width: 50px;
  justify-self: center;
}

.technology > p {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  color: black;
  text-shadow: 0px 0px 1px rgba(155, 155, 205, 1);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .technology {
    width: 80px;
    padding: 5px;
  }

  .technology > img {
    width: 50px;
  }

  .technology > p {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 480px) {
  .technology {
    width: 60px;
  }

  .technology > img {
    width: 25px;
  }

  .technology > p {
    font-size: 0.5rem;
  }
}
