/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/resources/fonts/open-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('/resources/fonts/open-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/resources/fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/resources/fonts/open-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/resources/fonts/open-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/resources/fonts/open-sans-v20-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Open Sans", sans-serif;
  color: aqua;
  background-color: black;
}

.title-text {
  margin: 0px 0px 15px 20px;
  display: grid;
  align-content: center;
  align-items: center;
  height: 3ch;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  pointer-events: none;
  color:rgb(156, 255, 224);
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
}

.title-text::after {
  content:"";
  border-bottom: 1px solid white;
  width: calc(100vw - 20px);
  position: absolute;
  top: 53px;
  left: 50vw;
  transform: translateX(-50%);
}

a {
  color: rgb(85, 144, 255);
}

a:hover {
  color: rgb(163, 195, 255);
}

ul {
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
}

main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

.p5Canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
}

#main-text {
  width: max-content;
  margin: 10px;
  margin-left: 50px;
  margin-top: 40px;
  padding: 15px;
  background: rgb(75, 75, 75);
  box-shadow: 0px 0px 40px 40px rgb(75, 75, 75);
  border-radius: 15px;
}

#main-text>ul {
  line-height: 1.75rem;
  padding: 10px;
}