:root {
  --bg-color-primary: rgb(40, 64, 64);
  --bg-color-secondary: rgb(226, 226, 226);
  --text-color-primary: #deeefb;
  max-width: 100vw;
  overflow-x: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  /* background-color: #505050; */
  background-color: var(--bg-color-primary);
}
